<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/common/utils.xacro"/>

  <!-- Name for this robot -->
  <xacro:arg name="arm_id" default="panda" />

  <!-- Should a franka_gripper be mounted at the flange?" -->
  <xacro:arg name="hand" default="false" />
  <!-- Positional offset between $(arm_id)_hand -> $(arm_id)_hand_tcp [m]. Only used when hand:=true -->
  <xacro:arg name="tcp_xyz" default="0 0 0.1034" />
  <!-- Rotational offset between $(arm_id)_hand -> $(arm_id)_hand_tcp [rad]. Only used when hand:=true -->
  <xacro:arg name="tcp_rpy" default="0 0 0" />

  <!-- Is the robot being simulated in gazebo?" -->
  <xacro:arg name="gazebo" default="true" />
  <!-- If `gazebo` arg is set, to which frame shall $(arm_id)_link0 be parented. Empty string for not fixing at all -->
  <xacro:arg name="parent" default="world" />
  <!-- If `gazebo` arg is set and `parent` not empty, what position offset between `parent` & $(arm_id)_link0 -->
  <xacro:arg name="xyz" default="0 0 0" />
  <!-- If `gazebo` arg is set and `parent` not empty, what rotation offset between `parent` & $(arm_id)_link0 -->
  <xacro:arg name="rpy" default="0 0 0" />

  <!-- <xacro:panda_gazebo arm_id="panda"/> -->

  <xacro:franka_robot arm_id="$(arg arm_id)"
                      joint_limits="${xacro.load_yaml('$(find franka_description)/robots/panda/joint_limits.yaml')}"
                      hand="$(arg hand)"
                      tcp_xyz="$(arg tcp_xyz)"
                      tcp_rpy="$(arg tcp_rpy)"
                      gazebo="$(arg gazebo)"
                      parent="$(arg parent)"
                      xyz="$(arg xyz)"
                      rpy="$(arg rpy)">
  </xacro:franka_robot>

  <!-- Camera on hand view -->
  <!-- <xacro:include filename="$(find realsense_gazebo_description)/urdf/_d435.urdf.xacro"/>
  <xacro:sensor_d435 parent="panda_hand" 
                     name="D435_camera" 
                     topics_ns="camera" 
                     align_depth="true" 
                     visualize="true" 
                     enable_pointCloud="true"
                     depth_width="640" 
                     depth_height="480" 
                     color_width="640" 
                     color_height="480">
  <origin xyz="0.045 0.0 0.055" rpy="0.0 -1.34 0.0"/>
  </xacro:sensor_d435> -->

 <!-- Scene view (D435 optimal range 0.3m-10m) [Comment out when running roslaunch panda_moveit run_sim.launch]-->
 <!-- <xacro:include filename="$(find realsense_gazebo_description)/urdf/_d435.urdf.xacro"/>
  <xacro:sensor_d435  parent="panda_link0" name="D435_camera1" topics_ns="D435_camera1" align_depth="true" visualize="true" enable_pointCloud="true" clip_distance="10">
    <origin xyz="0.0 0.4 0.425" rpy="0.0 0.26 -0.58875"/>
 </xacro:sensor_d435> -->

  <!-- Scene view (D435 optimal range 0.3m-10m) -->
  <!-- <xacro:include filename="$(find realsense_gazebo_description)/urdf/_d435.urdf.xacro"/>
  <xacro:sensor_d435  parent="panda_link0" name="D435_camera2" topics_ns="D435_camera2" align_depth="true" visualize="true" enable_pointCloud="true" >
    <origin xyz="0.4 0 0.4" rpy="0.0 -0.1744 -0.58875"/>
  </xacro:sensor_d435>  -->

</robot>


