<launch>
    <!-- Set the GAZEBO_MODEL_PATH environment variable -->
    <env name="GAZEBO_MODEL_PATH" value="$(optenv GAZEBO_MODEL_PATH):$(find franka_gazebo)/models"/>

    <!-- Spawn the pick table model -x 0.6 for scene view-->
    <node name="spawn_table1" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find franka_gazebo)/models/wooden_table1/model.sdf -sdf -model table1 -x 0.6 -y 0 -z 0 -R 0 -P 0 -Y 1.5707"/>

    <!-- middle red cube -->
    <node name="spawn_cube1" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find franka_gazebo)/models/stone1/model.sdf -sdf -model stone1 -x 0.6 -y 0 -z 0.317" />

</launch>