<launch>
    <!-- Set the GAZEBO_MODEL_PATH environment variable -->
    <env name="GAZEBO_MODEL_PATH" value="$(optenv GAZEBO_MODEL_PATH):$(find franka_gazebo)/models"/>

    <!-- Spawn the pick table model -x 0.6 for scene view-->
    <node name="spawn_table1" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find franka_gazebo)/models/wooden_table1/model.sdf -sdf -model table1 -x 0.6 -y 0 -z 0 -R 0 -P 0 -Y 1.5707"/>

    <!-- Spawn the place table model -->
    <node name="spawn_table2" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find franka_gazebo)/models/wooden_table2/model.sdf -sdf -model table2 -x 0.0 -y 0.6 -z 0 -R 0 -P 0 -Y 0"/>

    <!-- Spawn the object model, z = table surface z position (0.3) + table surface height/2 (0.009/2) + object_height/2 = z value -->
    <node name="spawn_bowl" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find franka_gazebo)/models/bowl/model.sdf -sdf -model bowl -x 0.0 -y 0.6 -z 0.3045 -R 0 -P 0 -Y 0"/>

    <!-- middle red cube -->
    <node name="spawn_cube1" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find franka_gazebo)/models/stone1/model.sdf -sdf -model stone1 -x 0.6 -y 0 -z 0.317" />

    <!-- right red cube -->
    <node name="spawn_cube2" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find franka_gazebo)/models/stone2/model.sdf -sdf -model stone2 -x 0.6 -y 0.1 -z 0.3195" />
    
    <!-- left green cube -->
    <node name="spawn_cube3" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find franka_gazebo)/models/stone3/model.sdf -sdf -model stone3 -x 0.6 -y -0.1 -z 0.3155" />

</launch>